<center><h1>Books</h1></center>
<center><%= link_to 'New Book', new_book_path, remote: true, class: "btn btn-primary" %></center>
<div class="new-book" id="book-form" style="display:none;"></div>
<div class="row">
  <div id="books">
    <%= render @books %>
  </div>
</div>
