<div>
	<% if user_signed_in? %>
		<% if current_user.following.empty? %>
    		<center><h3>You're not following anyone! Take a look at the General Feed <%= link_to 'Here', index_path, class: "btn btn-default" %></h3></center>
    	<% end %>
		<% if user_signed_in? %>
			<div class="feed">
				<h1>
					Your Feed
					<%= link_to "All Posts", index_path, class: "btn btn-default pull-right" %>
				</h1>
			<% if @following_posts.empty? %>
				<h2 class="post">Nothing to see here</h2>
			<% end %>
			<% if user_signed_in? %>
				<%= link_to 'New Post', new_post_path, remote: true, class: "btn btn-primary" %>
				<div id="post-form" style="display:none;"></div>
			<% end %>
			<h2>Posts</h2>
			<div id="posts">
			  <%= render @posts %>
			</div>
			</div>
		<% end %>
	<% end %>
</div>
