<% @followers.each do |user| %>
	<p><%= user.username %></p>
	<p>
    <% if user_signed_in? %>
    <% if current_user.following.include?(user.id) %>
    	<%= link_to "Unfollow", unfollow_path(id: user.id), class: "btn btn-danger following" %>
    <% else %>    
        <%= link_to "Follow", now_following_path(id: user.id), class: "btn btn-primary following" %>
    <% end %>
    <% end %>
	</p>
<% end %>