<h1>Here are the books you share with @<%= @user.username %></h1>
<% @shared_books.each do |book| %>
	<div class="book">
	<h3><%= link_to book.title, show_book_path(id: book.id) %></h3>
	<h5><%= book.author %></h5>
	</div>
	<br>
<% end %>