<% if user_signed_in? == false %>
  <div>
    <h2>Please Create an Account or Log In to use this site</h2>
  </div>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-default" %><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
<% end %>
<h1>Posts</h1>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path, remote: true, class: "btn btn-primary" %>
<div id="post-form" style="display:none;"></div>
<% end %>
<h2>Posts</h2>
<div id="posts">
  <%= render @posts %>
</div>
