/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

body {
	background-color: rgb(20,20,20);
}
.btn {
	border-style: solid;
	border-width:1px;
	border-color: black;
	border-radius: 50px;
}
#notice {
	color: white;
}
.navbar {
	background-color: rgb(80,80,200);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(0,0,100);
}
nav .nav-button {
	background-color: black;
	border-radius: 50px;
	color: white;
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}
nav .nav-button:hover {
	color: black;
}

.body {
	margin-top: 60px;
	background-color: rgb(120,120,120);
	border-style: solid;
	border-radius: 20px;
	border-width: 0px;
	padding: 2%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
}
.following {
	color: white;
}
.following:visited {
	color: white;
}
.user {
	margin-left: 20%;
	margin-right: 20%;
	padding: 1%;
	background-color: rgb(150,150,150);
	border-width: 2px;
	border-radius: 50px;
	border-color: black;
	border-style: solid;
	font-size: 24px;
	padding: 3%;
}
.navbar {
	/*background-color: rgb(100,100,200);*/
}
.post {
	background-color: white;
	padding: 2%;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 30px;
	// height: 175px;
}
.row .col-xs-3 {
	height: 350px;
}
.row .col-xs-4 {
	height: 350px;
}
.book {
	background-color: white;
	width: 100%;
	padding: 3%;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: black;
}
.book .like {
	margin-right: 2%;
	background-color: gray;
	color: white;
}
.bio {
	margin-right: 15%;
	margin-left: 15%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 50px;
	background-color: gray;
	color: white;
}
.bio .row {
	margin-left: 10%;
	margin-right: 10%;
}
.bio .btn {
	margin-left: 1%;
	margin-right: 1%;
	background-color: rgb(100,100,255);
	color: white;
}
.bio .btn:hover {
	font-size: 120%;
}
.post-container {
	margin-left: 20%;
	margin-right: 20%;
	background-color: gray;
	color: white;
	padding: 1%;
	border-radius: 10px;
}
.feed {
	margin-left: 20%;
	margin-right: 20%;
}
.book_bio {
	position: fixed;
}
